<div id="top" class="landingPage">
    <div class="box">
        <div class="imgContainer">
            <img src="../assets/img/profileImg.JPG">
            <div class="cutter"></div>
        </div>
        <div class="box__message">
            <h3>Hi There !</h3>
            <span>
                <p>I´M</p>
                <p>ALEXANDER HUXEL</p>
            </span>
            <p class="box__text">I´m a Junior Front-End Web Developer, coding sice November 2020 in Education with the
                Developer Akademie i realized some nice Projects and looking for a Job actually.</p>
            <a href="#about-me"  class="btn">More About Me</a>
        </div>
    </div>
</div>