<header id="header">
    <nav>
        <button (click)="openMenu()" id="burger-button">
            <span id="burger-menu"></span>
        </button>
        <div id="burger-nav" class="burger-nav responsiveClose">
            <ul>
                <li><a (click)="openMenu()" href="#top">Home</a></li>
                <li><a (click)="openMenu()" href="#portfolio">Portfolio</a></li>
                <li><a (click)="openMenu()" href="#contact">Contact</a></li>
            </ul>
        </div>
        <a href="#top"><img class="header__logo" src="../assets/img/logo.png"></a>
        <ul class="header__list">

            <li><a href="#top">Home</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </nav>
</header>