<footer>
    <a href="#top"><img class="footer__logo" src="../assets/img/logo.png"></a>
    <div class="footer__externLinks">
        <ul>
            <li><a href="#">Data Protection</a></li>
            <li><a href="#">Imprint</a></li>
            <li><a href="https://icons8.de">icons8.de</a></li>
                <li>
                    <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a
                        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
                    </li>
            <li>©2021 Alexander Huxel</li>
        </ul>
    </div>
    <a href="https://github.com/alexanderhuxel"><i class="fab fa-github"></i></a>
</footer>