<footer>
    <div class="footer__externLinks">
        <div class="copyright">©2021 Alexander Huxel</div>
        <a href="https://github.com/alexanderhuxel"><i class="fab fa-github"></i></a>
        <div class="firstrow">
            <a href="#">Data Protection</a>
            <a href="#">Imprint</a>
        </div>
        <div class="secondrow"><a href="https://icons8.de"> icons8.de</a>
            Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
            <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </div>



    </div>
</footer>