<div id="about-me" class="about-me">
    <h1 class="about-me__headline">About Me</h1>
    <div class="about-me__bar">
        <div class="about-me__story">
            <h2>Story</h2>
            <span>
                <hr>
                <p>In November 2020 i decide to change my Workspace. I interest in Computers and IT since i was a little
                    boy. In the moment i found the "Developer-Akademie.de" my new Chapter of life was sealed. Now im in
                    Education with "Developer-Akademie.de" and looking for a Job as Junior Front-End Web Developer</p>
                <hr>
            </span>
        </div>
        <div class="about-me__private">
            <h2>Free Time</h2>
            <hr>
            <p> im 27 Years old living in Bellheim Germany,
                if im not Coding you find me in the Gym or listening to crazy Music
            </p>
            <hr>

        </div>
       
       
        <div class="about-me__carrer">
            <h2>Carrer</h2>
            <span>
                <hr>
                <p>
                    In May 2014, I successfully completed my apprenticeship as a warehouse logistics specialist. Then I
                    worked in this industry to this day, in a few small and large companies, and collected professional
                    skills. </p>
                <hr>
            </span>
        </div>
    </div>
</div>